:root {
  --bgcolor: #f6ac31;
}

/* 底部导航 */
.footer {
  height: 60px;
}
.footer-seat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #a7a7a7;
}
.footer-list {
  max-width: 1080px;
  height: 60px;
  margin: auto;
}
.footer-list ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer-list ul i {
  font-size: 25px;
}
.selected {
  color: var(--bgcolor);
}

/* 头部 */
.header-search {
  background-color: #f8d447;
  padding: 10px;
}
.search-list {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
}
.header-search input {
  border: 0;
  background-color: transparent;
  margin-left: 10px;
}
.header-search input::placeholder,
.header-search i {
  color: #999;
  letter-spacing: 1px;
  /* ↑ 字间距(中文)设置,英文是word-spacing */
}
.header-tabs {
  display: flex;
  background-color: #f8d447;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  justify-content: space-between;
  color: #6F601B;
  position: sticky;
  /* 粘性定位 */
}

/* 排行榜 */
.charts{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.charts h4{
  font-size: 16px;
}