:root {
  --bgcolor: #f6ac31;
}

/* 底部导航 */
.footer {
  height: 60px;
}
.footer-seat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #a7a7a7;
}
.footer-list {
  max-width: 1080px;
  height: 60px;
  margin: auto;
}
.footer-list ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer-list ul i {
  font-size: 25px;
}
.selected {
  color: var(--bgcolor);
}

/* 头部 */
.header-search {
  background-color: #f8d447;
  padding: 10px;
}
.search-list {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
}
.header-search input {
  border: 0;
  background-color: transparent;
  margin-left: 10px;
}
.header-search input::placeholder,
.header-search i {
  color: #999;
  letter-spacing: 1px;
  /* ↑ 字间距(中文)设置,英文是word-spacing */
}
.header-tabs {
  display: flex;
  background-color: #f8d447;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  justify-content: space-between;
  color: #6f601b;
  position: sticky;
  /* 粘性定位 */
}

/* 排行榜 */
.charts {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.charts h4 {
  font-size: 16px;
}

.popupList {
  padding: 10px;
  text-align: center;
}
.popupList h4 {
  padding: 10px;
}
.popupList ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.popupList ul li {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px 0;
}
.popupList .active {
  background-color: #f5cb3b;
  color: #fff;
}

.chartstab .van-tabs {
  overflow-x: auto;
  -webkit-mask: linear-gradient(90deg, #000 80%, transparent);
  /* 渐变效果 */
}
.chartstab .van-tab {
  background-color: #f1f1f1;
  border-radius: 16px;
  margin: 0 6px;
  word-spacing: nowrap;
  padding: 0 16px;
}
.chartstab .van-tabs__line {
  background-color: transparent;
}
.chartstab .van-tabs--line .van-tabs__wrap {
  height: 30px;
}
.chartstab .van-tab--active {
  background-color: #f8d447;
  color: #333;
}

.chartstab-content::-webkit-scrollbar {
  display: none;
}
.chartstab-content {
  display: flex;
  height: 350px;
  overflow-x: auto;
}
.chartstab-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  counter-reset: count;
}
.chartstab-list {
  display: flex;
  width: 200px;
  height: 65px;
  margin: 6px;
}

.chartstab-img {
  width: 22%;
}
.chartstab-img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  /* 图片等比例缩放 */
}
.chartstab-title {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.chartstab-title p {
  color: #999;
  font-size: 12px;
  white-space: nowrap;
}
/* 计数器 */
.chartstab-title::before {
  counter-increment: count;
  content: counter(count);
  position: absolute;
  top: 5px;
  left: -15px;
}
.chartstab-list:nth-child(-n+3) .chartstab-title::before{
  color: red;
}

/* 轮播图 */
.banner{
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.banner img{
 border-radius: 10px;

}