@font-face {
  font-family: "iconfont"; /* Project id 4306478 */
  src: url('iconfont.woff2?t=1698562546048') format('woff2'),
       url('iconfont.woff?t=1698562546048') format('woff'),
       url('iconfont.ttf?t=1698562546048') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren:before {
  content: "\e615";
  font-size: 25px;
}

.icon-shequ-jihuo:before {
  content: "\e609";
}

.icon-a-014_liwufuli:before {
  content: "\e644";
}

.icon-ziliaozhongxin:before {
  content: "\e60c";
  font-size: 25px;
}

